security-page{
    .progress-outer {
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 4px;
    }
 
    .progress-inner {
        overflow: hidden;
        padding: 5px;
        border-radius: 4px;
        background-color: map-get($colors, secondary);
    }
    .card-position{
        position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);border-radius: 5px;
    }  
}