$roboto-font-path: $font-path !default;
@font-face {
  font-family: "IRANSans_FA_Nnumber";
  font-style: normal;
  font-weight: 200;
  src:url("#{$roboto-font-path}/IRANSansMobile(FaNum)_Light.ttf") format("truetype");
}
