*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body
{
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  direction:rtl !important;
}
//-----------------IONIC Component-----------------------------------------
.toolbar-background{
    background: #E6782B;
    background: -webkit-linear-gradient(to right, #FCB919, #E6782B);
    background: linear-gradient(to right, #FCB919, #E6782B);
}
.toolbar-title{
    color: map-get($colors, light) !important;
    text-align: center;
}
//--------------------------------------------------------------------------
